html {
font-size:16px;
}
body {
	width: 100%;
	height:100%;
	background:#3de2ff;
	z-index:-10;
	position:fixed;
}
.play-field {
	width: 98%;
	height:90%;
	background-color:black;
	position:relative;
	border-style:dashed;
	border-color:white;
} 
.dev-info p{
	color:white;
	font-size:1rem;
	display:inline;
	padding:10px;
}
.dev-info label{
	color:Black;
	font-size:1.2rem;
}

.buffersquare {
	height:300px;
	width:300px;
	background-color:rgba(3, 252, 240,0.0);
	z-index:-1;
	right: -50px;
	top: -50px;
	position:absolute;
 	transition-property: transform;
	transition-duration: 1s;
	 
	
}

.square{
	height: 200px;
	width: 200px;
	background-color:rgba(255,255,255,0.0);
	z-index:0;

	
	
	transition-property: transform;
	transition-duration: 0.9s;
}
.sircle {
	height: 100px;
	width: 100px;
	background-color: #555;
	border-radius: 50%;

	z-index:0;
	right: 50px;
	top: 50px;
	position:absolute;
	
	transition-property: transform;
	animation:background-color-change 30s infinite;
}

.sircle label {
	font-size:2.9rem;
	font-family: 'Russo One', sans-serif;
	color:white;
	top:25px;
	right:35px;
	position:absolute;
	
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.controls button {
	right:10px;
	bottom:10px;
	background-color:#3de2ff;
	border: none;
	position:absolute;
	z-index:10;
	transition-duration: 0.4s;
	border-radius: 99%;
	outline: none;
}
.controls button:hover {
	background-color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.dot {
	height:1px;
	width:1px;
	background-color:yellow;
	display:none;
}
@keyframes background-color-change {
	0% {background-color:#31f590;} /* Light Green */
	10% {background-color:#63e319;} /* Lime Green */
	20% {background-color:#6334e3;} /* Dark Blue */
	30% {background-color:#8ee6d4;} /* Light Blue */
	40% {background-color:#f5fc28;} /* Yellow */
	50% {background-color:#f213e0;} /* Purple */
	60% {background-color:#2f3030;} /* Grey */
	70%	{background-color:#ff3636;} /*Red */
	80% {background-color:#ffa305;} /* Orange */
	90% {background-color:#034154;} /* Navy Blue */
	100% {background-color:#31f590;} /* Light Green */
}





/* Mobile Small (320px) */
@media only screen and (min-width: 320px) {
	
}

/* Mobile Medium (375px)*/
@media only screen and (min-width: 375px) {

}
/*Mobile Large (425px)*/
@media only screen and (min-width: 425px) {

}
/*Tablet (768px)*/
@media only screen and (min-width: 768px) { 
	


}
/*Laptop (1024px)*/
@media only screen and (min-width: 1024px) { 

	
} 
/*Custume Size (1360px) */
@media only screen and (min-width: 1360px) {
	.dev-info p{
	font-size:1.5rem;
	
	}
	.dev-info label{
	color:Black;
	font-size:1.5rem;
	}
	.play-field {
	width: 98%;
	height:90%;

	
	position:relative;
	border-style:dashed;
	border-color:white;
	}
}



