html {
	font-size:16px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
body {
	width: 100%;
	height:100%;
	/*background:#3de2ff;*/
	background:#3de2ff;
	z-index:-10;
	position:fixed;
	
	
}
.page-wrapper {
  position: relative;
  height:100%;
  margin: 0px auto 0px auto;
  max-width: 1900px;
/*   background-color:yellow; */
}
.main {
	width: 100%;
	height:100%;
	opacity:1;
	/* background-color:red; */
}
.menu {
	
	width: 200px;
	height:500px;
	background-color:rgba(20, 23, 245,1); /*blue*/
	
	z-index:4;
	border-style:dashed;
	border-color:white;
	box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.19);
	font-family: 'Quicksand', sans-serif;
	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -100px;
}
.menu h1 {
	color:white;
	
	font-size:4rem;
	text-align:center;

}
.menu button {
	outline: none;
	border:none;
	
	border-radius: 50%;
	background-color:rgba(0, 255, 0,1);
	
	color:white;
	
	position:absolute;
	left:50%;
	top:78%;
	margin-left: -40px;
	/* margin-top: -40px; */
	width:80px;
	height:80px;
	font-size:1.4rem;

	
}
.menu label {
	color:white;
	font-weight:bold;
	font-size:1.2rem;
	padding-left:5px;
}
.menu p {
	color:white;
	display:inline;
	font-size:1.2rem;
	padding:10px;
}
.menu hr {
	color:white;
	width:180px;
	border-style:dashed;
}
.difficulty-selector label{
	display:none;
}
.difficulty-selector input{
	display:none;
}

.play-field {
	width: 96%;
	height:90%;
	background-color:black;
	position:relative;
	border-style:dashed;
	border-color:white;
} 
.countdown {
	color:white;
	text-align:center;
	font-family: 'Russo One', sans-serif;
	font-size:2.5rem;
	/* background-color:lime; */
	

}
/* .dev-info {
	visibility:hidden;

} */
.dev-info p{
	color:white;
	font-size:1rem;
	padding:10px;
	display:inline;
}
.dev-info label{
	color:Black;
	font-size:1.2rem;
	
}

.buffersquare {
	height:300px;
	width:300px;
	background-color:rgba(3, 252, 240,0.0);
	z-index:-1;
	right: -50px;
	top: -50px;
	position:absolute;
 	transition-property: transform;
	transition-duration: 1s;
}

.square{
	height: 200px;
	width: 200px;
	background-color:rgba(255,255,255,0.0);
	z-index:0;
	display:none;
	
	
	transition-property: transform;
	transition-duration: 0.9s;
}
.sircle {
	height: 100px;
	width: 100px;
	background-color: #555;
	border-radius: 50%;

	z-index:0;
	right: 50px;
	top: 50px;
	position:absolute;
	
	transition-property: transform;
	animation:background-color-change 30s infinite;
}

.sircle label {
	font-size:2.9rem;
	font-family: 'Russo One', sans-serif;
	color:white;
	top:25px;
	right:35px;
	position:absolute;
	
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.controls button {
	right:10px;
	bottom:10px;
	background-color:#3de2ff;
	border: none;
	position:absolute;
	z-index:3;
	transition-duration: 0.4s;
	border-radius: 99%;
	outline: none;
}
.controls button:hover {
	background-color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.dot {
	height:30px;
	width:30px;
	background-color:yellow;
	transition-property: transform;
	transition-duration: 0.05s;
}


@keyframes background-color-change {
	0% {background-color:#31f590;} /* Light Green */
	10% {background-color:#63e319;} /* Lime Green */
	20% {background-color:#6334e3;} /* Dark Blue */
	30% {background-color:#8ee6d4;} /* Light Blue */
	40% {background-color:#f5fc28;} /* Yellow */
	50% {background-color:#f213e0;} /* Purple */
	60% {background-color:#2f3030;} /* Grey */
	70%	{background-color:#ff3636;} /*Red */
	80% {background-color:#ffa305;} /* Orange */
	90% {background-color:#034154;} /* Navy Blue */
	100% {background-color:#31f590;} /* Light Green */
}







/* Mobile Small (320px) */
@media only screen and (min-width: 320px) {
	
}

/* Mobile Medium (375px)*/
@media only screen and (min-width: 375px) {

}
/*Mobile Large (425px)*/
@media only screen and (min-width: 425px) {

}
/*Tablet (768px)*/
@media only screen and (min-width: 768px) { 
	


}
/*Laptop (1024px)*/
@media only screen and (min-width: 1024px) { 
/* 	.page-wrapper {
	display:flex;
	flex-wrap:wrap;
	
}  */
/*Custume Size (1360px) */
@media only screen and (min-width: 1360px) {
	/* .dev-info p{
	font-size:1.5rem;
	}
	.dev-info label{
	color:Black;
	font-size:1.5rem;
	} */
	.menu {
	width: 200px;
	height:500px;
	background-color:red;
	position:fixed;
	}
	.play-field {
	width: 98%;
	height:90%;

	
	position:relative;
	border-style:dashed;
	border-color:white;
	}
	
	.menu {
	color:blue;
	}
}
}